/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --black: #111111;
  --white: #FFFFFF;
  --pink: #FFCCCC;
  --green: #C9D8C5;
  --wood: #F4EFEA;
  --soft-gray: #FAFAFA;
}

/* BASE */
body {
  font-family: "Century Gothic", Arial, sans-serif;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.7;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 32px;
}

/* HERO */
.hero {
  text-align: center;
  min-height: 100vh;
  padding: 100px 0;
  background: linear-gradient(
    to bottom,
    var(--white),
    var(--wood)
  );
}

.logo {
  max-width: 300px;
  margin-bottom: 50px;
}

/* TITRES */
h1 {
  display: inline-block;
  font-size: 2.6rem;
  margin-bottom: 80px;
  font-weight: 500;
  background-color: var(--pink);
  padding: 12px 24px;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;

  margin-top: 40px;     /* espace AVANT le titre */
  margin-bottom: 32px;  /* espace APRÈS le titre */
}

/* TEXTE */
.tagline {
  max-width: 720px;
  margin: 0 auto 45px;
  font-size: 1.05rem;
  opacity: 0.9;
}

/* BUTTON */
a.cta,
a.cta:visited {
  color: var(--black);
  text-decoration: none;
}

.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 16px 40px;
  border-radius: 999px;

  background-color: var(--pink);
  border: 2px solid var(--pink);

  color: var(--black);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  transition: all 0.25s ease;
}

.cta:hover {
  background-color: transparent;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}



.section {
  padding: 120px 0 100px;
}


.section.light {
  background-color: var(--soft-gray);
}

.section.nature {
  background-color: var(--wood);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
}

/* CARDS */
.card {
  background-color: var(--white);
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.05);
}

.card h3 {
  margin-bottom: 24px;
  font-size: 1.1rem;
  color: var(--black);
}

.card::before {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: var(--green);
  margin-bottom: 20px;
  border-radius: 2px;
}

/* TEXT HELPERS */
.center {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  opacity: 0.9;
}

@media (max-width: 768px) {

  .container {
    padding: 0 20px;
  }

  h1 {
    font-size: 2rem;
    padding: 10px 18px;
  }

  .tagline {
    font-size: 1rem;
  }

  .section {
    padding: 100px 0;
  }
}
